*{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}
::-webkit-scrollbar{
      width: 0;
      height: 1px;
}
::-webkit-scrollbar-thumb {
      background-color: rgb(114,113 ,113  );
      border-radius: 10px;
      height: 200px;
}
::-webkit-scrollbar-track {
      background-color: transparent;
}
.search-bar{
      border: none;
      outline: none;
      width: 350px;
}
.category-btn{
      display: flex;
      align-items: center;
      justify-content: start;
      font-weight: bold !important;
      text-transform: capitalize;
      cursor: pointer;
      outline: none;
      border: none;
      padding: 7px 15px;
      margin: 10px 0;
      border-radius: 20px;
      transition: all ease 0.3s;
      gap: 20px;
}
.category-btn:hover{
      background-color: #76323f !important;
      color: white !important;
}
.category-btn:hover span{
      color: white !important;
      
}

.react-player{
      height: 77vh !important;
      width: 100% !important;
}
@media screen and (max-width:600px) {
      .search-bar{
            width: 90px;
            height: 30px;
             padding: 1px;
            margin: 2;
      }
      .react-player{
            height: 45vh !important;
      }
}